:root {
    --border-radius-1: .3rem;
    --border-radius-2: .5rem;
    --border-radius-3: .8rem;
    --border-radius-4: 2rem;
    --border-radius-5: 6rem;

    --color-light: #ffffff;
    --color-primary: #D4AA78;
    --color-secondary: #ad7d44;
    --color-text: #2b2929;
    --color-text-light: #666;
}

* {
    transition: .5s ease;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color: var(--color-text);
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Categoria Button */
.category-btn {
    background: var(--color-primary);
    display: inline-block;
    padding: .5rem 1rem;
    margin: 0;
    margin-top: 10px;
    color: aliceblue;
}

.category-btn:hover {
    color: #ffffff;
}

/* Borda dos Posts */
.post-thumb {
    border-radius: var(--border-radius-5) 0;
    overflow: hidden;
    margin-bottom: 2rem;
    border: 0.7rem solid var(--color-light);
}

.post-profile {
    display: flex;
    gap: 1rem;
    margin-top: 1.2rem;
}

/* IMG/DATA Escritor */
.post-profile-img {
    height: 3.2rem;
    width: 3.2rem;
    overflow: hidden;
    border-radius: 50%;
}

/* Estilos para textos pequenos */
small {
    color: #000000;
}

/* Featured Posts */
.featured {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

/* Post */
.post {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    gap: 10px;
}

.post-container {
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}

.featured-container .post-thumb img{
    max-width: 800px;
}

.featured-container .post-title{
    font-size: 44px;
    width: 500px;
}

.post-thumb {
    margin-bottom: 0;
}

.post-thumb img{
    max-width: 350px;
    margin: 0;
}

.post-title{
    font-size: 28px;
    margin: 0;
}

.post-body {
    max-width: 600px;
    margin-top: 10px;
}

article.post {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.post-title a {
    color: var(--color-secondary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Botão Menu */
.dropbtn {
    background-color: #ffffff;
    color: #daa86b;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #ffffff;
}

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #f1d2ab;
}

#myInput:focus {
    outline: 3px solid var(--color-secondary);
}

/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid var(--color-secondary);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #fcd7aa;
}

.show {
    display: block;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .featured-container {
        flex-direction: column;
        gap: 0;
        padding-left: 16px;
        padding-right: 16px;
    }

    .post-thumb {
        margin-bottom: 0;
        width: 350px;
    }

    .featured-container .post-title{
        font-size: 24px;
        width: 300px;
    }

    .post-container .post-title{
        font-size: 24px;
        width: 300px;
    }

    .post-container{
        flex-direction: column;
        padding-left: 16px;
        padding-right: 16px;  
        gap: 0;  
    }

    .post{
        margin-top: 10px;
        margin-bottom: 0;
    }

    section.post{
        margin-bottom: 20px;
    }

    .category-btn{
        margin: 0;
        margin-top: 10px;
    }
}
