@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

.fundo-projetos{
    transition: transform 0.25s;
}

.fundo-projetos:hover{
    transform: scale(1.03);
}
